doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Records Building Blocks

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/3d_emblem_lockup.ico')

        // Font Awesome icons (free version)
        //script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js', crossorigin='anonymous')
        //script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/brands.min.css', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        //script(src="https://unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js")
        //link(rel="stylesheet" type="text/css" href="https://unpkg.com/swagger-ui-dist@3/swagger-ui.css")
        //link(rel="stylesheet" type="text/css" href="assets/swagger-ui.css")

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Standard
        section#standard.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Records Building Blocks
                .row.text-justified
                    .col-md-6
                        p.text-muted
                            |The 
                            i Record
                            | is the atomic unit of information in a catalog. 
                            | The record model provides a minimal set of information to facilitate the discovery of the resource it points to (e.g.: discovery metadata). 
                            | This include some generic properties such as title, description, formats, but also information about 
                            i when 
                            | and 
                            i who 
                            | created it.
                            | These properties are called 
                            i queryables
                            | , as they can be used to query searchable catalogs.
                        p.text-muted
                            | As in other OGC API Standards, 
                            a(href="https://docs.ogc.org/DRAFTS/20-004.html#record-collection-overview" target="_blank") there are no mandatory encodings.
                            | Servers are free to offer what they wish and clients are expected to use content negotiation to retrieve a suitable format.
                        p.text-muted
                            | The 
                            a(href="https://github.com/opengeospatial/ogcapi-records?tab=readme-ov-file#the-record-common-component" target="_blank") record model
                            | was intentionally kept simple, so that it could be use by non metadata experts. 
                            | It only has one mandatory field and a few optional fields.
                            | It is anticipated that it will be extended by information communities who wish to add more content about their resources (e.g.: Machine Learning, Earth Observation). 
                        p.text-muted
                            a(href="https://emotional.byteroad.net/collections/ec_catalog/items/hex350_grid_cardio_1920" target="_blank") This
                            | is an example of a metadata record that uses some optional fields from the atomic model and extends it with more fields that are relevant for the use case. 
                    .col-md-6
                        p.text-muted
                            | A 
                            i record collection
                            | (also called 
                            i catalog
                            | ) describes a group of related resources, which could be metadata records but also features, coverages or another type of geospatial information.  
                        .text-center.text-muted
                            img(src='assets/img/oar-blocks.png', alt='...', style='width:40%', title='Generated with AI ∙ 6 August 2024 at 0:39 pm')


                            //- | This is an example of a record encoded in JSON/GeoJSON.
                            //- br
                            //- code 
                            //-     | {
                            //-     br
                            //-     |   "id": "radarsat-1",
                            //-     br
                            //-     | "title": "RADARSAT-1 Open Data",
                            //-     br
                            //-     | "description": "Launched in November 1995, RADARSAT-1 provided Canada and the world with an operational radar satellite system capable of timely delivery of large amounts of data. RADARSAT-1 used a synthetic aperture radar (SAR) sensor to image the Earth at a single microwave frequency of 5.3 GHz, in the C band (wavelength of 5.6 cm).",
                            //-     br
                            //-     | "extent": {
                            //-     br
                            //-     |    "spatial": [ -180, -90, 180, 90 ],
                            //-     br
                            //-     |    "temporal": [ "1995-11-04T14:22:00Z", "2013-03-29T00:00:00Z" ]
                            //-     | },
                            //-     br
                            //-     | "itemType": "catalog",
                            //-     br
                            //-     | "keywords": [ "sar", "eo", "radar", "radarsat", "canada" ],
                            //-     br
                            //-     | "language": "en-CA",
                            //-     br
                            //-     | "publisher": {
                            //-     br
                            //-     |     "organizationName": "Canadian Space Agency (CSA)",
                            //-     br
                            //-     |     "contactInfo": {
                            //-     br
                            //-     |     "onlineResource": {
                            //-     br
                            //-     |         "href": "http://www.asc-csa.gc.ca/eng/satellites/radarsat1/Default.asp"
                            //-     br
                            //-     |     }
                            //-     br
                            //-     |     },
                            //-     br
                            //-     |     "role": {
                            //-     br
                            //-     |     "name": "producer"
                            //-     br
                            //-     |     }
                            //-     br
                            //-     | },
                            //-     br
                            //-     | "license": "proprietary",
                            //-     br
                            //-     | "properties": {
                            //-     br
                            //-     |     "sar:platform": "RADARSAT-1",
                            //-     br
                            //-     |     "sar:constellation": "RADARSAT",
                            //-     br
                            //-     |     "sar:instrument": "C-SAR"
                            //-     br
                            //-     | },
                            //-     br
                            //-     | "links": [
                            //-     br
                            //-     |     {
                            //-     br
                            //-     |     "href": "https://open.canada.ca/en/open-government-licence-canada",
                            //-     br
                            //-     |     "rel": "license",
                            //-     br
                            //-     |     "type": "text/html",
                            //-     br
                            //-     |     "title": "license"
                            //-     br
                            //-     |     },
                            //-     br
                            //-     |     {
                            //-     br
                            //-     |     "rel": "item",
                            //-     br
                            //-     |     "href": "slc/collection.json"
                            //-     br
                            //-     |     },
                            //-     br
                            //-     |     {
                            //-     br
                            //-     |     "rel": "item",
                            //-     br
                            //-     |     "href": "raw/collection.json"
                            //-     br
                            //-     |     }
                            //-     br                                ]
                            //-     | }
