doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Records Components


        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/3d_emblem_lockup.ico')

        // Font Awesome icons (free version)
        //script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js', crossorigin='anonymous')
        //script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/brands.min.css', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        //script(src="https://unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js")
        //link(rel="stylesheet" type="text/css" href="https://unpkg.com/swagger-ui-dist@3/swagger-ui.css")
        //link(rel="stylesheet" type="text/css" href="assets/swagger-ui.css")

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Standard
        section#standard.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Records Components
                .row.text-justified
                    .col-md-6

                        p.text-muted
                            |The 
                            i Record
                            | is the atomic unit of information in a catalog. 
                            | The record model provides a minimal set of information to facilitate the discovery of the resource it points to (e.g.: discovery metadata). 
                            | This includes some generic properties such as title, description, formats, but also information about 
                            i when 
                            | it was created and 
                            i who 
                            | created it.
                            | These properties are called 
                            i queryables
                            | , as they can be used to query searchable catalogs.
                        p.text-muted
                            | As in other OGC API Standards, 
                            a(href="https://docs.ogc.org/DRAFTS/20-004.html#record-collection-overview" target="_blank") there are no mandatory encodings.
                            | Servers are free to choose their offerings and clients are expected to use content negotiation to retrieve a suitable format.
                        p.text-muted
                            | The 
                            a(href="https://github.com/opengeospatial/ogcapi-records?tab=readme-ov-file#the-record-common-component" target="_blank") record model
                            | was intentionally kept simple, so that it could be used by non metadata experts. 
                            | It has only one mandatory field and a few optional fields.
                            | It is anticipated that it will be extended by information communities who wish to add more content about their resources (e.g.: Machine Learning, Earth Observation). 
                        p.text-muted
                            a(href="https://emotional.byteroad.net/collections/ec_catalog/items/hex350_grid_cardio_1920" target="_blank") This
                            | is an example of a metadata record that uses some optional fields from the atomic model and extends it with more fields that are relevant for the use case. 

                        p.text-muted
                            | A 
                            i record collection
                            | (also called 
                            i catalog
                            | ) describes a group of related resources, which could be metadata records but also features, coverages or another type of geospatial information.  
                    .col-md-6
                        p.text-muted
                            | The
                            i Records API 
                            | specifies how to interact with the catalog and request specific records. 
                            | It is based on the principles of reusability, borrowing a lot of what was defined in 
                            a(href="https://github.com/opengeospatial/ogcapi-features" target="_blank") OGC API - Features
                            |.
                        .text-left
                            ul
                                li
                                    p.text-muted The 
                                        i collections 
                                        | endpoint can be used to access to information about a collection of records (
                                        i e.g.  
                                        | : catalog metadata):
                                        code /collections
                                li
                                    p.text-muted The 
                                        i items 
                                        | endpoint can be used to access the metadata records:
                                        code /collections/{collectionId}/items
                                li
                                    p.text-muted The 
                                        i item 
                                        | endpoint can be used to retrieve a specific metadata record:
                                        code /collections/{collectionId}/items/{itemId}
                        p.text-muted
                            | The 
                            i collection 
                            | and 
                            i items 
                            | endpoints can be extended with additional parameters to enable querying. 
                            | For instance, the 
                            i items 
                            | endpoint can be queried using a bounding box, a time frame of even free text. 
                            | For more advanced query scenarios with complex filter expressions of logically connected query predicates, the 
                            a(href="https://docs.ogc.org/DRAFTS/21-065r3.html" target="_blank") Common Query Language (CQL) 
                            |can be used.

                        p.text-muted
                            i.fas.fa-book-open
                            | Learn more about
                            //- a(href="https://blocks.ogc.org/" target="_blank") building blocks
                            //- | and
                            a(href="https://ogcapi-workshop.ogc.org/" target="_blank") OGC API.
                            |.
